---
const { className } = Astro.props;
---

<svg class={className} viewBox="0 0 61 61" fill="none">
  <g clip-path="url(#clip0_9_43)">
    <title>Amazon Web Servers</title>
    <path
      d="M17.2169 29.8211C17.2169 30.5599 17.2919 31.1599 17.4344 31.6024C17.5919 32.0411 17.7944 32.5211 18.0719 33.0424C18.1604 33.1801 18.2085 33.3399 18.2106 33.5036C18.2106 33.7024 18.0906 33.9049 17.8356 34.1036L16.5756 34.9436C16.4244 35.0528 16.2445 35.1154 16.0581 35.1236C15.8556 35.1236 15.6569 35.0261 15.4581 34.8461C15.1886 34.5561 14.9475 34.2409 14.7381 33.9049C14.515 33.5202 14.3086 33.1261 14.1194 32.7236C12.5631 34.5649 10.6094 35.4874 8.25437 35.4874C6.57812 35.4874 5.23937 35.0036 4.26437 34.0436C3.28562 33.0836 2.78687 31.8011 2.78687 30.1999C2.78687 28.4974 3.38687 27.1174 4.60187 26.0749C5.82062 25.0324 7.43687 24.5149 9.49187 24.5149C10.1669 24.5149 10.8681 24.5749 11.6069 24.6724C12.3456 24.7736 13.1069 24.9349 13.9019 25.1149V23.6524C13.9019 22.1299 13.5831 21.0686 12.9644 20.4499C12.3269 19.8274 11.2469 19.5274 9.70937 19.5274C9.01187 19.5274 8.29562 19.6099 7.55687 19.7899C6.82289 19.9646 6.10231 20.1914 5.40062 20.4686C5.17407 20.5712 4.94108 20.6589 4.70312 20.7311C4.6 20.7652 4.49281 20.7854 4.38437 20.7911C4.10312 20.7911 3.96437 20.5886 3.96437 20.1686V19.1861C3.96437 18.8674 4.00187 18.6236 4.10312 18.4886C4.25423 18.3046 4.44707 18.1594 4.66562 18.0649C5.35937 17.7049 6.19937 17.4049 7.17812 17.1649C8.15312 16.9024 9.19187 16.7861 10.2906 16.7861C12.6644 16.7861 14.4006 17.3261 15.5181 18.4061C16.6169 19.4861 17.1756 21.1286 17.1756 23.3336V29.8211H17.2131H17.2169ZM9.11312 32.8624C9.76937 32.8624 10.4481 32.7424 11.1681 32.5024C11.8844 32.2624 12.5256 31.8199 13.0619 31.2199C13.3834 30.8515 13.6157 30.4139 13.7406 29.9411C13.8606 29.4574 13.9431 28.8799 13.9431 28.1974V27.3574C13.3374 27.2105 12.724 27.0978 12.1056 27.0199C11.4838 26.9394 10.8576 26.8981 10.2306 26.8961C8.89187 26.8961 7.91311 27.1586 7.25686 27.6986C6.59686 28.2386 6.28187 28.9999 6.28187 30.0011C6.28187 30.9386 6.51812 31.6399 7.01687 32.1236C7.49687 32.6224 8.19437 32.8624 9.11312 32.8624ZM25.1369 35.0261C24.7769 35.0261 24.5369 34.9661 24.3794 34.8236C24.2181 34.7036 24.0794 34.4261 23.9594 34.0436L19.2719 18.5674C19.1794 18.308 19.1177 18.0386 19.0881 17.7649C19.0881 17.4461 19.2494 17.2661 19.5681 17.2661H21.5256C21.9006 17.2661 22.1631 17.3261 22.3019 17.4649C22.4631 17.5849 22.5831 17.8661 22.7031 18.2449L26.0556 31.5011L29.1681 18.2449C29.2656 17.8474 29.3856 17.5849 29.5431 17.4649C29.7837 17.3175 30.064 17.2481 30.3456 17.2661H31.9394C32.3219 17.2661 32.5769 17.3261 32.7381 17.4649C32.8994 17.5849 33.0381 17.8661 33.1169 18.2449L36.2706 31.6624L39.7206 18.2449C39.7846 17.9545 39.9229 17.6858 40.1219 17.4649C40.3542 17.3176 40.6274 17.248 40.9019 17.2661H42.7581C43.0769 17.2661 43.2569 17.4274 43.2569 17.7649C43.2569 17.8661 43.2344 17.9674 43.2194 18.0874C43.1871 18.2576 43.1394 18.4246 43.0769 18.5861L38.2656 34.0624C38.1456 34.4636 38.0069 34.7261 37.8494 34.8461C37.6229 34.991 37.3565 35.0605 37.0881 35.0449H35.3744C34.9956 35.0449 34.7369 34.9849 34.5756 34.8461C34.4144 34.7036 34.2756 34.4449 34.1969 34.0436L31.1031 21.1324L28.0281 34.0286C27.9306 34.4299 27.8106 34.6886 27.6531 34.8274C27.4919 34.9699 27.2106 35.0299 26.8544 35.0299H25.1369V35.0261ZM50.7794 35.5661C49.7438 35.5675 48.7116 35.4467 47.7044 35.2061C46.7069 34.9661 45.9306 34.7036 45.4094 34.4036C45.0906 34.2236 44.8731 34.0249 44.7906 33.8411C44.7144 33.6647 44.6748 33.4746 44.6744 33.2824V32.2624C44.6744 31.8424 44.8319 31.6399 45.1319 31.6399C45.2543 31.6401 45.3759 31.6604 45.4919 31.6999C45.6119 31.7411 45.7919 31.8199 45.9906 31.9024C46.6656 32.2024 47.4081 32.4424 48.1844 32.6036C48.9831 32.7611 49.7594 32.8436 50.5581 32.8436C51.8181 32.8436 52.7931 32.6224 53.4719 32.1836C53.7979 31.9862 54.0658 31.7059 54.2483 31.3713C54.4308 31.0367 54.5213 30.6596 54.5106 30.2786C54.5174 30.0214 54.4731 29.7653 54.3804 29.5253C54.2877 29.2852 54.1485 29.0659 53.9706 28.8799C53.6144 28.4974 52.9356 28.1561 51.9569 27.8374L49.0619 26.9374C47.6069 26.4761 46.5269 25.7936 45.8706 24.8936C45.2282 24.062 44.8776 23.042 44.8731 21.9911C44.8731 21.1511 45.0531 20.4086 45.4094 19.7674C45.7694 19.1299 46.2494 18.5674 46.8494 18.1249C47.4494 17.6674 48.1244 17.3261 48.9231 17.0861C49.7219 16.8461 50.5581 16.7449 51.4356 16.7449C51.8781 16.7449 52.3356 16.7636 52.7744 16.8236C53.2319 16.8836 53.6519 16.9661 54.0719 17.0486C54.4694 17.1461 54.8519 17.2436 55.2081 17.3674C55.5681 17.4874 55.8456 17.6074 56.0481 17.7274C56.2836 17.8456 56.4888 18.0162 56.6481 18.2261C56.7765 18.4214 56.8383 18.6529 56.8244 18.8861V19.8274C56.8244 20.2474 56.6669 20.4686 56.3669 20.4686C56.1012 20.4383 55.844 20.3568 55.6094 20.2286C54.4035 19.694 53.0958 19.4278 51.7769 19.4486C50.6406 19.4486 49.7406 19.6286 49.1219 20.0111C48.5031 20.3861 48.1844 20.9711 48.1844 21.7924C48.1844 22.3511 48.3831 22.8311 48.7844 23.2136C49.1819 23.5924 49.9206 23.9711 50.9781 24.3124L53.8131 25.2124C55.2494 25.6736 56.2881 26.3149 56.9069 27.1361C57.5256 27.9574 57.8219 28.8986 57.8219 29.9411C57.8219 30.8036 57.6456 31.5799 57.3044 32.2624C56.9511 32.9472 56.4549 33.5482 55.8494 34.0249C55.2306 34.5236 54.4919 34.8874 53.6331 35.1461C52.7331 35.4274 51.7956 35.5661 50.7794 35.5661Z"
      fill="#252F3E"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M54.5482 45.2935C47.9857 50.1572 38.4457 52.741 30.2444 52.741C18.7507 52.741 8.39318 48.4772 0.570676 41.3897C-0.048074 40.8272 0.510676 40.066 1.24568 40.5085C9.70943 45.4322 20.1457 48.4172 30.9457 48.4172C38.2244 48.4172 46.2269 46.8947 53.5919 43.771C54.6907 43.2722 55.6282 44.491 54.5482 45.2935Z"
      fill="#FF9900"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M57.2818 42.1698C56.4456 41.0936 51.7356 41.6523 49.6018 41.9111C48.9643 41.9936 48.8631 41.4311 49.4406 41.0111C53.1906 38.3673 59.3593 39.1286 60.0756 40.0098C60.7956 40.9098 59.8768 47.0973 56.3631 50.0598C55.8268 50.5211 55.3093 50.2848 55.5456 49.6848C56.3443 47.6973 58.1218 43.2348 57.2818 42.1736V42.1698Z"
      fill="#FF9900"></path>
  </g>
  <defs>
    <clip-path id="clip0_9_43">
      <rect
        width="60"
        height="60"
        fill="white"
        transform="translate(0.304443 0.994873)"></rect>
    </clip-path>
  </defs>
</svg>
