---
const { className } = Astro.props;
---

<svg class={className} fill="none" viewBox="0 0 512 512">
  <title>Vercel / Edge Functions</title>
  <path fill-rule="evenodd" d="M256,48,496,464H16Z"></path>
</svg>
