<div class="flex h-96 w-full justify-center pt-10">
  <button
    class="group flex h-12 w-32 items-center justify-center rounded-md border-2 border-purple-400 transition duration-200 hover:bg-purple-100"
  >
    <p
      class="font-acme tracking-wide text-purple-600 opacity-100 transition duration-150 group-hover:opacity-0"
    >
      Resume
    </p>
    <div class="absolute flex items-center gap-2">
      <p
        class="font-acme text-purple-600 opacity-0 transition duration-150 group-hover:opacity-100"
      >
        Download
      </p>
      <svg
        fill="currentColor"
        stroke-width="0"
        viewBox="0 0 16 16"
        class="h-5 w-5 fill-purple-700 opacity-0 transition duration-150 group-hover:opacity-100"
      >
        <path
          fill-rule="evenodd"
          d="M4 15v-1c2 0 2-.6 2-1H1.5l-.5-.5v-10l.5-.5h13l.5.5v9.24l-1-1V3H2v9h5.73l-.5.5 2.5 2.5H4zm7.86 0 2.5-2.5-.71-.7L12 13.45V7h-1v6.44l-1.64-1.65-.71.71 2.5 2.5h.71z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
  </button>
</div>
