---
---

<section class="relative w-full bg-[#efece8] h-screen" id="career">
  <div class="relative flex items-center flex-col">
    <!-- <h1
      class="bg-gradient-to-r font-frederic text-[12rem] from-purple-200/50 bg-clip-text text-transparent"
    >
      Career
    </h1> -->
  </div>
</section>
