---
import Timeline from "@icons/Timeline.astro";
---

<section
  class="relative w-full bg-[#efece8] h-[1200px] py-10 flex items-center flex-col"
  id="career"
>
  <h1 class="text-5xl font-bold font-gideon text-green-600 text-center">
    Career Timeline
  </h1>
  <Timeline />
  <div class="max-w-5xl mx-auto border h-2">
    <p>Discover Invest</p>
  </div>
</section>
