---
import Shape from "@icons/Shape.astro";
import NavBar from "@components/parts/NavBar.astro";
// import BlogButton from "../button/Blog.astro";
---

<section class="flex w-full flex-col bg-[#efece8]" id="about">
  <div
    class="relative flex h-screen w-full overflow-hidden selection:bg-green-200"
  >
    <!-- LEFT SIDE -->
    <div class="absolute left-0 top-0 hidden h-full w-full sm:block sm:w-[57%]">
      <!-- Dashed half circle -->
      <div class="absolute left-6 top-8 h-20 w-20 z-20">
        <div
        class="h-full w-full rounded-full border border-dashed border-green-300 bg-[#efece8] relative flex items-center justify-center"
        >
          <div class="w-4 h-4 bg-green-700 rounded-full relative z-10 mx-auto"></div>
        </div>
        <div class="absolute right-0 top-0 h-1/2 w-1/2 bg-[#efece8]"></div>
        <div class="absolute left-0 bottom-0 h-1/2 w-1/2 bg-[#efece8]"></div>
      </div>
      <div class="absolute left-0 top-0 flex h-20 w-full items-end">
        <div class="flex w-full items-center">
          <span class="h-2 w-full border-t border-dashed border-green-300"
          ></span>
        </div>
      </div>
    </div>
    <!-- GREEN SIDE -->
    <div
      class="absolute right-0 top-0 flex h-2/3 w-full items-center justify-center bg-green-900 sm:h-full sm:w-[43%]"
    >
      <!-- Dashed half circle -->
      <div class="absolute right-[40.5px] top-[49.5px] hidden h-12 w-12 sm:block z-20">
        <div
          class="h-full w-full rounded-full border border-dashed border-green-700 bg-green-900 flex items-center justify-center"
        >
          <div class="w-3 h-3 bg-[#efece8] rounded-full relative z-10"></div>
        </div>
        <div class="absolute left-0 bottom-0 h-1/2 w-1/2 bg-green-900"></div>
        <div class="absolute right-0 bottom-1/2 h-1/2 w-1/2 bg-green-900"></div>
      </div>
      <!-- Navigation -->
      <NavBar />
      <!-- Two Dotted Lines -->
      <span
        class="absolute left-0 bottom-20 h-1 w-2/3 border-b border-dashed border-green-700 sm:hidden"
      ></span>
    </div>

    <!-- ABOUT ME -->
    <div class="relative h-full w-full">
      <div
        class="mx-auto flex h-full max-w-6xl flex-col justify-between sm:flex-row"
      >
        <div
          class="flex h-full flex-col justify-between px-8 pb-36 pt-48 sm:h-auto sm:justify-center sm:py-0 sm:px-0"
        >
          <div>
            <h2
              class="mb-3 font-expletus text-lg text-green-400 sm:text-green-500"
            >
              Hey, my name is
            </h2>
            <h1
              class="w-1/2 font-frederic text-5xl font-bold text-[#efece8] sm:text-6xl sm:text-green-700"
            >
              Shakhruz Rakhmatov
            </h1>
            <br />
            <div class="flex flex-col gap-3 sm:flex-row sm:items-center">
              <h1
                class="font-frederic text-4xl text-green-600 sm:text-green-400"
              >
                Software Engineer
              </h1>
              <span class="hidden h-2 w-2 bg-green-400 rounded-full sm:block mt-2"></span>
              <h1
                class="font-expletus text-2xl text-[#efece8] selection:text-green-500 sm:mt-2 sm:text-xl sm:tracking-wide sm:text-gray-500"
              >
                Based in Uzbekistan
              </h1>
            </div>
          </div>

          <div class="relative mt-10 hidden w-2/3 sm:block">
            <p
              class="font-expletus text-xl text-green-600 selection:text-green-500 sm:font-gideon sm:text-base sm:text-gray-500"
            >
              I am a JavaScript enthusiast and TypeScript advocate. <br /> People
              call me a Full-Stack developer, just because I can break both Frontend
              & Backend.
            </p>
          </div>

          <p
            class="mt-8 font-expletus text-xl text-green-600 selection:text-green-500 sm:font-gideon sm:text-base sm:text-gray-500 sm:hidden"
          >
            Call me JavaScript enthusiast and TypeScript advocate.
          </p>
          <!-- B L O G -->
          <!-- <div class="relative mt-10 hidden h-12 w-fit items-center sm:flex">
            <h1
              class="mr-8 font-gideon text-sm text-gray-500 selection:text-green-500 sm:block"
            >
              Check out my <b
                class="text-gray-600 underline decoration-green-500 decoration-wavy underline-offset-2"
                >Tech</b
              >{" "}
              <span class="text-green-500">blog</span>
            </h1>
            <BlogButton />
          </div> -->
        </div>
        <div class="hidden items-center sm:flex">
          <Shape />
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom green section -->
  <div
  class="relative mx-auto hidden h-36 w-full bg-green-900 sm:flex items-center pl-40"
  >
    <p class="text-[#efece8]/70 font-expletus mr-3 text-sm tracking-wider">iamrakhmatov@gmail.com</p>
    <!-- Bottom Right Half Circle -->
    <div class="absolute right-11 bottom-[50px] h-10 w-10 z-10">
      <div
        class="h-full w-full rounded-full border border-dashed border-green-700 bg-green-900 flex items-center justify-center"
      >
      <div class="w-2 h-2 bg-[#efece8] rounded-full relative z-10"></div>
      </div>
      <div class="absolute left-0 bottom-0 h-1/2 w-1/2 bg-green-900"></div>
      <div class="absolute right-0 bottom-1/2 h-1/2 w-1/2 bg-green-900"></div>
    </div>
    <!-- Bottom Dashed Line -->
    <div class="h-[1px] w-full border-t border-dashed border-green-700 translate-y-0.5"></div>
  </div>

  <!-- Dashed Line on the RIGHT side -->
  <div
    class="absolute inset-x-16 hidden border-r border-dashed border-green-700 sm:block"
  >
    <div class="h-screen"></div>
    <div class="h-36"></div>
  </div>
</section>
