---
// import AWS from "@icons/AWS.astro";
// import Postgres from "@icons/Postgres.astro";
// import Zod from "@icons/Zod.astro";
// import Docker from "@icons/Docker.astro";
import GitHub from "@components/parts/GitHub.astro";
import JavaScriptEcosystem from "@components/parts/JavaScriptEcosystem.astro";
import TypeScript from "@components/parts/TypeScript.astro";
import Bubble from "@icons/Bubble.astro";
---

<section class="py-48 max-w-5xl mx-auto" id="skills">
  <JavaScriptEcosystem />
  <div class="w-full flex flex-col mt-28">
    <div class="flex justify-between items-center">
      <TypeScript />
      <GitHub />
    </div>
    <!-- <div class="flex justify-end items-center -mt-12 gap-x-40">
      <h1 class="text-6xl font-frederic text-slate-200">GitHub</h1>
      <h1 class="text-6xl font-frederic text-[#3178c6]/20">TypeScript</h1>
    </div> -->
  </div>
  <div class="mt-28 flex items-center justify-center">
    <Bubble className="w-[35rem] h-[35rem]" />
    <div
      class="absolute text-3xl ml-5 font-frederic text-slate-400 flex items-center flex-col"
    >
      <h1>Cloud</h1>
      <span class="text-2xl text-slate-400/60">&</span>
      <h1>Database</h1>
    </div>
  </div>
</section>
