---
import GitHub from "@components/parts/GitHub.astro";
import JavaScriptEcosystem from "@components/parts/JavaScriptEcosystem.astro";
import TypeScript from "@components/parts/TypeScript.astro";
import Bubble from "@icons/Bubble.astro";
---

<section class="bg-[#efece8]" id="skills">
  <div class="max-w-5xl mx-auto py-32">
    <div class="relative flex items-center justify-center">
      <h1
        class="absolute text-7xl font-frederic py-2 top-0 bg-gradient-to-r from-green-300 to-gray-400 text-transparent bg-clip-text"
      >
        Ecosystem
      </h1>
      <p
        class="absolute text-sm text-gray-500/70 font-gideon top-24 w-96 text-center"
      >
        I'm in love with JavaScript Ecosystem and its Community driven Open
        Source Softwares.
      </p>
      <JavaScriptEcosystem />
    </div>
  </div>
  <div class="bg-white border-y-2 border-gray-300">
    <div class="max-w-5xl mx-auto py-32">
      <div class="w-full flex flex-col items-center gap-16">
        <div
          class="flex relative justify-between items-center w-full border-slate-100 rounded-l-lg"
        >
          <div
            class="w-10 h-10 absolute right-0 top-0 border-dashed border-t border-r border-[#3178c6]/30"
          >
          </div>
          <div
            class="w-10 h-10 absolute right-0 bottom-0 border-dashed border-b border-r border-[#3178c6]/30"
          >
          </div>

          <TypeScript />
          <div class="w-[30rem] flex flex-col gap-10">
            <h1 class="text-6xl font-frederic text-[#3178c6]/40">TypeScript</h1>
            <p class="text-gray-400/80 text-sm font-gideon">
              TypeScript being superset of JavaScript provides us with handful
              utilities and features to improve developer experience. <br />
              <br /> TypeScript’s ability to catch errors at compile time, allows
              me to better write my code and provides fantastic DX during development
              process.
            </p>
          </div>
        </div>
        <!-- GitHub -->
        <div class="flex justify-between items-center w-full">
          <div class="w-[30rem] flex flex-col gap-10 items-end">
            <h1 class="text-6xl font-frederic text-slate-400/80">GitHub</h1>
            <p class="text-gray-400/90 text-sm font-gideon text-right">
              Since the start of my professional career I use GitHub which
              allows me to host my code and share with fellow developers as well
              as gives me one of the best distributed version control tools out
              there “Git”, to track changes on my code.
            </p>
          </div>
          <GitHub />
        </div>
        <!-- Bubble Infographic -->
        <div class="flex w-full items-center justify-between">
          <Bubble className="w-[30rem] h-[30rem]" />
          <div class="w-[30rem] flex flex-col gap-10 items-end">
            <h1
              class="text-5xl w-full font-frederic bg-gradient-to-r from-green-300 to-slate-500 text-transparent bg-clip-text"
            >
              Cloud <span class="text-4xl">&</span> Database
            </h1>
            <p class="text-gray-400/90 text-sm relative z-10 font-gideon">
              I wouldn’t call myself a Database architect or Serverless expert,
              though I had both theoretical and practical experience with the
              following technologies.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
