---
import GitHub from "@components/parts/GitHub.astro";
import JavaScriptEcosystem from "@components/parts/JavaScriptEcosystem.astro";
import TypeScript from "@components/parts/TypeScript.astro";
import Bubble from "@icons/Bubble.astro";
---

<section class="overflow-hidden bg-[#efece8]" id="skills">
  <div class="mx-auto max-w-5xl sm:py-32">
    <!-- Gradient line before section title -->
    <div class="relative flex flex-col items-center justify-center">
      <h1
        class="bg-gradient-to-r from-green-300 to-gray-400 bg-clip-text py-2 font-frederic text-6xl text-transparent sm:absolute sm:top-0 sm:text-7xl"
      >
        Stack
      </h1>

      <p
        class="w-96 px-10 text-center font-gideon text-sm text-gray-500/70 sm:absolute sm:top-24 sm:px-0"
      >
        I'm in love with JavaScript Ecosystem and its Community driven Open
        Source Softwares.
      </p>
      <JavaScriptEcosystem />
    </div>
  </div>
  <div class="border-y-2 border-gray-300 bg-white">
    <div class="mx-auto max-w-5xl py-32">
      <div class="flex w-full flex-col items-center gap-16">
        <!-- TypeScript -->
        <div
          class="relative flex w-full flex-col-reverse items-center justify-between rounded-l-lg border-slate-100 sm:flex-row"
        >
          <div
            class="absolute right-0 top-0 hidden h-10 w-10 border-t border-r border-dashed border-[#3178c6]/30 sm:block"
          >
          </div>
          <div
            class="absolute right-0 bottom-0 hidden h-10 w-10 border-b border-r border-dashed border-[#3178c6]/30 sm:block"
          >
          </div>

          <TypeScript />
          <div
            class="mb-10 flex flex-col items-center gap-10 sm:mb-0 sm:w-[30rem] sm:items-start"
          >
            <h1 class="font-frederic text-5xl text-[#3178c6]/40 sm:text-6xl">
              TypeScript
            </h1>
            <p class="hidden font-gideon text-sm text-gray-400/80 sm:block">
              To be honest, I can't imagine my daily coding process without this Language, and I'm convinced that projects without proper type systems in long term just turns into shit. (Any PLEASE don't use <strong>any</strong>)<br />
              <br /> TypeScript’s ability to catch errors at compile time, allows
              me to better write my code and provides fantastic DX during development
              process.
            </p>
            <p
              class="px-10 text-center font-gideon text-sm text-gray-400/80 sm:hidden"
            >
            To be honest, I can't imagine my daily coding process without this Language, and I'm convinced that projects without proper type systems in long term just gets shit.
            </p>
          </div>
        </div>
        <!-- GitHub -->
        <div
          class="flex w-full flex-col items-center justify-between sm:flex-row"
        >
          <div
            class="flex flex-col items-center gap-10 sm:w-[30rem] sm:items-end"
          >
            <h1 class="font-frederic text-5xl text-slate-400/80 sm:text-6xl">
              GitHub
            </h1>
            <p
              class="hidden text-right font-gideon text-sm text-gray-400/90 sm:block"
            >
              Since the start of my professional career I use GitHub which
              allows me to host my code and share with fellow developers as well
              as gives me one of the best distributed version control tools out
              there “Git”, to track changes on my code.
            </p>
            <p
              class="px-10 text-center font-gideon text-sm text-gray-400/90 sm:hidden"
            >
              Git & GitHub became the tools I use on a daily basis both for the
              projects at work and side projects.
            </p>
          </div>
          <GitHub />
        </div>
        <!-- Bubble Infographic -->
        <div
          class="flex w-full flex-col-reverse items-center justify-between px-7 sm:flex-row sm:px-0"
        >
          <Bubble className="sm:w-[30rem] sm:h-[30rem]" />
          <div
            class="mb-10 flex flex-col items-end gap-10 text-center sm:mb-0 sm:w-[30rem] sm:text-left"
          >
            <h1
              class="w-full bg-gradient-to-r from-green-300 to-slate-500 bg-clip-text font-frederic text-5xl text-transparent"
            >
              Cloud <span class="text-2xl sm:text-4xl">&</span> Database
            </h1>
            <p class="relative z-10 font-gideon text-sm text-gray-400/90">
              I wouldn’t call myself a Database architect or Serverless expert,
              though I had both theoretical and practical experience with the
              following technologies.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
