---
import Layout from "@layouts/Layout.astro";
import { LandingPage } from "@components/LandingPage";
import { Skills } from "@components/Skills";
import { Career } from "@components/Career";
import { GitHubIcon, LinkedInIcon, TwitterIcon } from "@components/Icons";
---

<Layout title="Portfolio">
  <LandingPage client:load />
  <Skills />
  <Career />
  {/* Social Media */}
  <div
    class="fixed left-8 top-0 z-50 flex h-screen w-fit flex-col justify-end gap-5 sm:left-16 sm:justify-center sm:gap-8"
  >
    <div class="h-full w-1 border-l border-gray-300/30 sm:border-gray-300/60">
    </div>
    <div class="-ml-3 flex w-fit flex-col gap-3">
      <TwitterIcon class="h-6 w-6 fill-gray-400 hover:fill-purple-300" />
      <LinkedInIcon class="h-6 w-6 fill-gray-400 hover:fill-purple-300" />
      <GitHubIcon class="h-6 w-6 fill-gray-400 hover:fill-purple-300" />
    </div>
    <div
      class="h-1/5 w-1 border-l border-gray-300/30 sm:h-1/2 sm:border-gray-300/60"
    >
    </div>
  </div>
</Layout>
