---
// import JavaScript from "@icons/JavaScript.astro";
---

<div class="h-screen w-full flex items-center justify-center">
  <svg
    width="682"
    height="500"
    viewBox="0 0 682 500"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M340.042 101.325C312.428 101.295 290.066 78.8852 290.097 51.271C290.127 23.6567 312.537 1.29539 340.151 1.32549C367.765 1.35559 390.127 23.7657 390.096 51.38C390.066 78.9942 367.656 101.356 340.042 101.325ZM340.042 101.325C339.847 280.325 681 179 681 399M340.042 101.325C339.824 301.325 0.999987 180.748 0.999987 399M340.042 101.325L339.608 499.825"
      stroke="url(#paint0_linear_0_1)"
      stroke-width="2"></path>
    <g clip-path="url(#clip0_0_1)">
      <path d="M311 21H371V81H311V21Z" fill="#F7DF1E"></path>
      <path
        d="M326.776 71.1404L331.368 68.3616C332.254 69.9322 333.059 71.261 334.992 71.261C336.845 71.261 338.013 70.5363 338.013 67.7172V48.5458H343.652V67.7969C343.652 73.6369 340.228 76.2951 335.234 76.2951C330.723 76.2951 328.105 73.959 326.776 71.1399"
        fill="black"></path>
      <path
        d="M346.714 70.5362L351.305 67.878C352.514 69.8517 354.085 71.3015 356.864 71.3015C359.2 71.3015 360.69 70.1334 360.69 68.5224C360.69 66.5891 359.159 65.9044 356.582 64.7771L355.172 64.1725C351.104 62.441 348.406 60.2661 348.406 55.6746C348.406 51.4456 351.628 48.2234 356.662 48.2234C360.247 48.2234 362.824 49.4721 364.677 52.7345L360.287 55.5536C359.32 53.8219 358.273 53.1373 356.662 53.1373C355.011 53.1373 353.964 54.1845 353.964 55.5536C353.964 57.2452 355.011 57.9301 357.427 58.9773L358.837 59.5814C363.63 61.6356 366.328 63.7297 366.328 68.4418C366.328 73.5169 362.341 76.2956 356.984 76.2956C351.749 76.2956 348.365 73.7987 346.714 70.5362Z"
        fill="black"></path>
    </g>
    <defs>
      <linearGradient
        id="paint0_linear_0_1"
        x1="290.19"
        y1="-35.229"
        x2="289.686"
        y2="427.771"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#C44F4F"></stop>
        <stop offset="0.504697" stop-color="#A87E12"></stop>
        <stop offset="1" stop-color="#257A29"></stop>
      </linearGradient>
      <clipPath id="clip0_0_1">
        <rect width="60" height="60" fill="white" transform="translate(311 21)"
        ></rect>
      </clipPath>
    </defs>
  </svg>

  <!-- <div class="relative h-36 w-36 flex items-center justify-center">
    <div
      class="absolute -right-5 top-0 h-[1px] w-48 from-slate-50 via-slate-300 to-slate-50/80 bg-gradient-to-r"
    >
    </div>
    <div
      class="absolute -top-6 right-0 w-[1px] h-[17rem] from-slate-100/30 via-slate-300 to-slate-50/80 bg-gradient-to-b"
    >
    </div>
    <div
      class="absolute -right-5 bottom-0 h-[1px] w-[22rem] from-slate-50 via-slate-300 to-slate-50/80 bg-gradient-to-r"
    >
    </div>
    <div
      class="absolute -top-5 left-0 w-[1px] h-[17rem] from-slate-50 via-slate-300 to-slate-50/80 bg-gradient-to-b"
    >
    </div>
    <JavaScript className="w-28 h-28 shadow-lg rounded-md relative z-10" />
  </div> -->
</div>
