---
import AstroLogo from "@icons/AstroLogo.astro";
// import AWS from "@icons/AWS.astro";
// import Docker from "@icons/Docker.astro";
import Express from "@icons/Express.astro";
// import GraphQL from "@icons/GraphQL.astro";
import JavaScript from "@icons/JavaScript.astro";
// import Lambda from "@icons/Lambda.astro";
// import MongoDB from "@icons/MongoDB.astro";
import NestJS from "@icons/NestJS.astro";
import NextJS from "@icons/NextJS.astro";
import NodeJS from "@icons/NodeJS.astro";
// import Postgres from "@icons/Postgres.astro";
import Prisma from "@icons/Prisma.astro";
import React from "@icons/React.astro";
import Tailwind from "@icons/Tailwind.astro";
import TRPC from "@icons/TRPC.astro";
import TypeScript from "@icons/TypeScript.astro";
import Zod from "@icons/Zod.astro";
---

<div class="h-screen w-full flex flex-col items-center justify-center">
  <div class="absolute"></div>
  <div class="relative h-32 w-32 flex items-center justify-center">
    <div
      class="absolute -left-12 top-0 h-[1px] w-[16.5rem] from-slate-50 via-slate-300 to-slate-50 bg-gradient-to-r"
    >
    </div>
    <div
      class="absolute -top-28 right-0 w-[1px] h-[23rem] from-slate-100/30 via-slate-300/50 to-slate-50 bg-gradient-to-b"
    >
    </div>
    <div
      class="absolute -left-36 bottom-0 h-[1px] w-[23rem] from-slate-50 via-slate-400/80 to-slate-50/80 bg-gradient-to-r"
    >
    </div>
    <div
      class="absolute -top-16 left-0 w-[1px] h-72 from-slate-50 via-slate-400/80 to-slate-50 bg-gradient-to-b"
    >
    </div>
    <JavaScript className="w-24 h-24 shadow-lg rounded-md" />
    <!-- React related Icons -->
    <div
      class="absolute left-full bottom-full flex h-20 w-20 justify-center items-center"
    >
      <div
        class="absolute -left-10 top-0 h-[1px] w-52 from-slate-50 via-slate-300 to-slate-50 bg-gradient-to-r"
      >
      </div>
      <div
        class="absolute -bottom-10 right-0 w-[1px] h-52 from-slate-100/80 via-slate-300/80 to-slate-100/70 bg-gradient-to-b"
      >
      </div>
      <React className="w-16 h-16 hover:animate-spin" />

      <div
        class="left-full bottom-full absolute w-16 h-16 flex items-center justify-center"
      >
        <div
          class="absolute -left-8 top-0 h-[1px] w-44 from-slate-50 via-slate-200 to-slate-50 bg-gradient-to-r"
        >
        </div>
        <div
          class="absolute -bottom-20 right-0 w-[1px] h-56 from-slate-50 via-slate-200 to-slate-100/70 bg-gradient-to-b"
        >
        </div>
        <NextJS className="w-12 h-12 shadow-xl rounded-full" />
        <div class="absolute bottom-full left-full w-16 h-16">
          <div class="relative w-full h-full flex items-center justify-center">
            <div
              class="absolute -left-5 top-0 h-[1px] w-48 from-slate-50 via-slate-200 to-slate-50 bg-gradient-to-r"
            >
            </div>
            <div
              class="absolute -bottom-5 right-0 w-[1px] h-36 from-slate-50 via-slate-200 to-slate-50 bg-gradient-to-b"
            >
            </div>
            <AstroLogo className="w-12 h-12" />
            <div
              class="absolute w-14 h-14 left-full bottom-full flex items-center justify-center"
            >
              <div
                class="absolute -left-5 top-0 h-[1px] w-24 from-slate-50 via-slate-200 to-slate-50 bg-gradient-to-r"
              >
              </div>
              <div
                class="absolute -bottom-8 right-0 w-[1px] h-36 from-slate-50 via-slate-200 to-slate-50 bg-gradient-to-b"
              >
              </div>
              <Tailwind className="w-10 h-10" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="absolute right-full top-full flex h-20 w-20 justify-center items-center"
    >
      <div
        class="absolute -right-5 bottom-0 h-[1px] w-72 from-slate-100/30 via-slate-300/70 to-slate-100/70 bg-gradient-to-r"
      >
      </div>
      <div
        class="absolute -top-10 left-0 w-[1px] h-52 from-slate-100/30 via-slate-400/70 to-slate-50 bg-gradient-to-b"
      >
      </div>
      <TypeScript className="w-16 h-16 rounded-md shadow-lg" />
      <div
        class="absolute w-16 h-16 right-full top-full flex justify-center items-center"
      >
        <div
          class="absolute -right-4 bottom-0 h-[1px] w-52 from-slate-100/30 via-slate-300/40 to-slate-100/70 bg-gradient-to-r"
        >
        </div>
        <div
          class="absolute -top-5 left-0 w-[1px] h-44 from-slate-100/30 via-slate-300/70 to-slate-50 bg-gradient-to-b"
        >
        </div>
        <TRPC className="w-12 h-12" />
        <!-- PostgreSQL Database -->
        <div
          class="absolute w-16 h-16 right-full top-full flex items-center justify-center"
        >
          <div
            class="absolute -right-6 bottom-0 h-[1px] w-48 from-slate-100/30 via-slate-300 to-slate-100/70 bg-gradient-to-r"
          >
          </div>
          <div
            class="absolute -top-5 left-0 w-[1px] h-36 from-slate-50 via-slate-200 to-slate-50 bg-gradient-to-b"
          >
          </div>
          <Prisma className="w-12 h-12" />
          <div
            class="absolute w-14 h-14 right-full top-full flex items-center justify-center"
          >
            <div
              class="absolute -right-4 bottom-0 h-[1px] w-24 from-slate-100/30 via-slate-300/40 to-slate-100/70 bg-gradient-to-r"
            >
            </div>
            <div
              class="absolute -top-3 left-0 w-[1px] h-32 from-slate-50 via-slate-200 to-slate-50 bg-gradient-to-b"
            >
            </div>
            <Zod className="w-10 h-10" />
          </div>
        </div>
      </div>
    </div>

    <div
      class="absolute left-full top-full flex h-20 w-20 justify-center items-center"
    >
      <div
        class="absolute -top-8 right-0 w-[1px] h-48 from-slate-100/30 via-slate-300/50 to-slate-100 bg-gradient-to-b"
      >
      </div>
      <div
        class="absolute -left-8 bottom-0 h-[1px] w-48 from-slate-50 via-slate-300/50 to-slate-50 bg-gradient-to-r"
      >
      </div>
      <NodeJS className="w-16 h-16" />
      <div
        class="absolute w-16 h-16 left-full top-full flex items-center justify-center"
      >
        <div
          class="absolute -top-5 right-0 w-[1px] h-44 from-slate-100/30 via-slate-300 to-slate-50 bg-gradient-to-b"
        >
        </div>
        <div
          class="absolute -left-5 bottom-0 h-[1px] w-44 from-slate-100 via-slate-300 to-slate-50 bg-gradient-to-r"
        >
        </div>
        <Express className="w-12 h-12" />
        <div
          class="absolute w-14 h-14 left-full top-full flex items-center justify-center"
        >
          <div
            class="absolute -top-6 right-0 w-[1px] h-40 from-slate-100/30 via-slate-300 to-slate-50 bg-gradient-to-b"
          >
          </div>
          <div
            class="absolute -left-[4.5rem] bottom-0 h-[1px] w-72 from-slate-100/30 via-slate-200 to-slate-50 bg-gradient-to-r"
          >
          </div>
          <NestJS className="w-9 h-9" />
        </div>
      </div>
    </div>
  </div>
</div>
