---
import ArrowUp from "@icons/ArrowUp.astro";
import AstroLogo from "@icons/AstroLogo.astro";
---

<section
  id="contact"
  class="flex flex-col justify-center py-5 items-center relative"
>
  <div
    class="flex flex-col justify-center items-center font-acme text-gray-500 text-xs tracking-wider [word-spacing:2px]"
  >
    <p>
      Designed <i class="text-gray-400">&</i> Build by Shakhruz Rakhmatov
      <br />
    </p>
    <div class="flex items-center">
      <p class="mr-2">Made with</p>
      <a href="https://astro.build/" target="_blank"><AstroLogo /></a>
    </div>
  </div>
  <a
  href="#about"
    class="absolute flex justify-center items-center right-10 border border-gray-100 p-2 bottom-6 group w-[42px] h-[42px] text-gray-400"
  >
    <span class="hidden group-hover:block font-acme">UP</span>
    <ArrowUp className="group-hover:hidden" />
  </a>
</section>
