<div
  class="absolute top-0 left-0 flex h-16 w-full items-end justify-end sm:h-20"
>
  <div class="flex w-full items-center justify-end gap-5 sm:gap-8">
    <div class="h-1 min-w-[60px] border-b border-gray-300/30 sm:w-full"></div>
    <div
      class="flex gap-8 font-serif text-sm tracking-wider text-gray-400 sm:gap-12"
    >
      <a href="#skills">Skills</a>
      <a href="#career">Career</a>
      <a href="#contact">Contact</a>
    </div>
    <div class="h-1 w-full border-b border-gray-300/30 sm:w-48"></div>
  </div>
</div>
