---
import GraphQL from "@icons/GraphQL.astro";
import AWS from "@icons/AWS.astro";
import Postgres from "@icons/Postgres.astro";
import Express from "@icons/Express.astro";
import GitBranch from "@icons/GitBranch.astro";
import GitDraft from "@icons/GitDraft.astro";
import GitHub from "@icons/GitHub.astro";
import GitMerge from "@icons/GitMerge.astro";
import GitPullRequest from "@icons/GitPullRequest.astro";
import JavaScript from "@icons/JavaScript.astro";
import NestJS from "@icons/NestJS.astro";
import NextJS from "@icons/NextJS.astro";
import NodeJS from "@icons/NodeJS.astro";
import Prisma from "@icons/Prisma.astro";
import React from "@icons/React.astro";
import Tailwind from "@icons/Tailwind.astro";
import TRPC from "@icons/TRPC.astro";
import TypeScript from "@icons/TypeScript.astro";
import Zod from "@icons/Zod.astro";
import Docker from "@icons/Docker.astro";
---

<section
  class="h-screen w-full flex flex-col items-center justify-center relative"
  id="skills"
>
  <!-- GITHUB First circle -->
  <div
    class="absolute left-40 top-64 w-64 h-64 border rounded-full border-slate-100/60 flex items-center justify-center"
  >
    <!-- GIT ICONS -->
    <GitBranch
      className="opacity-[15%] z-10 absolute w-9 h-9 left-full ml-8 bottom-20"
    />
    <GitDraft
      className="fill-red-100/80 z-10 absolute w-8 h-8 left-full ml-20 -top-12"
    />
    <GitPullRequest
      className="fill-indigo-300/30 z-10 absolute w-10 h-10 top-full left-12 mt-8"
    />
    <GitMerge
      className="opacity-30 z-10 absolute w-9 h-9 top-16 right-full mr-3"
    />
    <!-- Gradient Lines -->
    <div
      class="absolute right-full h-96 w-[1px] bg-gradient-to-b from-white via-slate-200/50"
    >
    </div>
    <div
      class="absolute left-full h-96 w-[1px] bg-gradient-to-b from-white via-slate-200/50"
    >
    </div>
    <div
      class="absolute bottom-full w-96 h-[1px] bg-gradient-to-r from-white via-slate-200/75"
    >
    </div>
    <div
      class="absolute top-full w-96 h-[1px] bg-gradient-to-r from-white via-slate-200/50"
    >
    </div>
    <!-- Second circle -->
    <div
      class="relative w-56 h-56 border left-0 top-0 border-slate-200/30 rounded-full flex bg-slate-50/50 items-center justify-center"
    >
      <!-- Gradient Lines -->
      <div
        class="absolute right-full h-[21rem] w-[1px] bg-gradient-to-b from-white via-slate-200/70"
      >
      </div>
      <div
        class="absolute left-full h-[21rem] w-[1px] bg-gradient-to-b from-white via-slate-200/70"
      >
      </div>
      <div
        class="absolute bottom-full w-[21rem] h-[1px] bg-gradient-to-r from-white via-slate-200/50"
      >
      </div>
      <div
        class="absolute top-full w-[21rem] h-[1px] bg-gradient-to-r from-white via-slate-200/50"
      >
      </div>
      <!-- Third circle -->
      <div
        class="w-40 h-40 border left-0 top-0 border-slate-200/40 rounded-full bg-white flex items-center justify-center"
      >
        <!-- Square -->
        <div
          class="relative w-28 h-28 border left-0 top-0 border-slate-100/80 flex border-t-slate-50 border-b-slate-50 items-center justify-center"
        >
          <!-- Gradient Lines -->
          <div
            class="absolute right-full h-72 w-[1px] bg-gradient-to-b from-white via-slate-200/70"
          >
          </div>
          <div
            class="absolute left-full h-72 w-[1px] bg-gradient-to-b from-white via-slate-200/70"
          >
          </div>
          <div
            class="absolute bottom-full w-72 h-[1px] bg-gradient-to-r from-white via-slate-200/40"
          >
          </div>
          <div
            class="absolute top-full w-72 h-[1px] bg-gradient-to-r from-white via-slate-200/40"
          >
          </div>
          <!-- Inner circle -->
          <div
            class="relative w-28 h-28 border left-0 top-0 border-slate-100/70 border-t-slate-50/70 flex items-center justify-center rounded-full"
          >
            <GitHub className="w-24 h-24 fill-slate-200" />
            <!-- Diagonal Gradient Lines -->
            <div
              class="absolute h-[30rem] w-[1px] bg-gradient-to-b rotate-45 from-white via-purple-100/50"
            >
            </div>
            <div
              class="absolute h-[30rem] w-[1px] bg-gradient-to-b -rotate-45 from-white via-purple-100/50"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Background TEXT -->
  <h1
    class="absolute right-24 top-48 text-4xl font-frederic font-extrabold text-purple-100/50"
  >
    Serverless
  </h1>
  <h1
    class="absolute left-1/2 translate-x-20 text-7xl font-frederic text-indigo-50/50"
  >
    Ecosystem
  </h1>
  <h1
    class="absolute bottom-40 right-56 text-5xl font-frederic text-indigo-50/50 font-extrabold"
  >
    SQL
  </h1>
  <div class="absolute bottom-0 mx-auto flex items-center justify-center gap-6">
    <Postgres className="w-10 h-10 opacity-20" />
    <AWS className="w-14 h-14 opacity-20" />
    <Docker className="w-12 h-12 opacity-20" />
  </div>

  <!-- ----------- JavaScript ----------- -->
  <div
    class="relative h-32 w-32 flex items-center justify-center bg-gradient-to-br from-slate-200 via-slate-50"
  >
    <div
      class="absolute -left-12 top-0 h-[1px] w-[16.5rem] from-slate-50 via-slate-300 to-slate-50 bg-gradient-to-r"
    >
    </div>
    <div
      class="absolute -top-28 right-0 w-[1px] h-[23rem] from-slate-100/30 via-slate-300/50 to-slate-50 bg-gradient-to-b"
    >
    </div>
    <div
      class="absolute -left-36 bottom-0 h-[1px] w-[23rem] from-slate-50 via-slate-400/80 to-slate-50/80 bg-gradient-to-r"
    >
    </div>
    <div
      class="absolute -top-16 left-0 w-[1px] h-72 from-slate-50 via-slate-400/80 to-slate-50 bg-gradient-to-b"
    >
    </div>
    <JavaScript className="w-24 h-24 shadow-lg rounded-md" />
    <!-- React related Icons -->
    <div
      class="absolute left-full bottom-full flex h-20 w-20 justify-center items-center"
    >
      <div
        class="absolute -left-10 top-0 h-[1px] w-52 from-slate-50 via-slate-300 to-slate-50 bg-gradient-to-r"
      >
      </div>
      <div
        class="absolute -bottom-10 right-0 w-[1px] h-52 from-slate-100/80 via-slate-300/80 to-slate-100/70 bg-gradient-to-b"
      >
      </div>
      <React className="w-16 h-16 hover:animate-spin" />

      <div
        class="left-full bottom-full absolute w-16 h-16 flex items-center justify-center"
      >
        <div
          class="absolute -left-8 top-0 h-[1px] w-44 from-slate-50 via-slate-200 to-slate-50 bg-gradient-to-r"
        >
        </div>
        <div
          class="absolute -bottom-20 right-0 w-[1px] h-56 from-slate-50 via-slate-200 to-slate-100/70 bg-gradient-to-b"
        >
        </div>
        <NextJS className="w-12 h-12 shadow-xl rounded-full" />
        <div class="absolute bottom-full left-full w-14 h-14">
          <div class="relative w-full h-full flex items-center justify-center">
            <div
              class="absolute -left-5 top-0 h-[1px] w-48 from-slate-50 via-slate-200 to-slate-50 bg-gradient-to-r"
            >
            </div>
            <div
              class="absolute -bottom-5 right-0 w-[1px] h-36 from-slate-50 via-slate-200 to-slate-50 bg-gradient-to-b"
            >
            </div>
            <GraphQL className="w-10 h-10" />
            <div
              class="absolute w-12 h-12 left-full bottom-full flex items-center justify-center"
            >
              <div
                class="absolute -left-5 top-0 h-[1px] w-24 from-slate-50 via-slate-200 to-slate-50 bg-gradient-to-r"
              >
              </div>
              <div
                class="absolute -bottom-8 right-0 w-[1px] h-36 from-slate-50 via-slate-200 to-slate-50 bg-gradient-to-b"
              >
              </div>
              <Tailwind className="w-8 h-8" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="absolute right-full top-full flex h-20 w-20 justify-center items-center"
    >
      <div
        class="absolute -right-5 bottom-0 h-[1px] w-72 from-slate-100/30 via-slate-300/70 to-slate-100/70 bg-gradient-to-r"
      >
      </div>
      <div
        class="absolute -top-10 left-0 w-[1px] h-52 from-slate-100/30 via-slate-400/70 to-slate-50 bg-gradient-to-b"
      >
      </div>
      <TypeScript className="w-16 h-16 rounded-md shadow-lg" />
      <div
        class="absolute w-16 h-16 right-full top-full flex justify-center items-center"
      >
        <div
          class="absolute -right-4 bottom-0 h-[1px] w-52 from-slate-100/30 via-slate-300/40 to-slate-100/70 bg-gradient-to-r"
        >
        </div>
        <div
          class="absolute -top-5 left-0 w-[1px] h-44 from-slate-100/30 via-slate-300/70 to-slate-50 bg-gradient-to-b"
        >
        </div>
        <TRPC className="w-12 h-12" />
        <div
          class="absolute w-14 h-14 right-full top-full flex items-center justify-center"
        >
          <div
            class="absolute -right-6 bottom-0 h-[1px] w-48 from-slate-100/30 via-slate-300 to-slate-100/70 bg-gradient-to-r"
          >
          </div>
          <div
            class="absolute -top-5 left-0 w-[1px] h-36 from-slate-50 via-slate-200 to-slate-50 bg-gradient-to-b"
          >
          </div>
          <Prisma className="w-10 h-10" />
          <div
            class="absolute w-12 h-12 right-full top-full flex items-center justify-center"
          >
            <div
              class="absolute -right-4 bottom-0 h-[1px] w-24 from-slate-100/30 via-slate-300/40 to-slate-100/70 bg-gradient-to-r"
            >
            </div>
            <div
              class="absolute -top-3 left-0 w-[1px] h-32 from-slate-50 via-slate-200 to-slate-50 bg-gradient-to-b"
            >
            </div>
            <Zod className="w-8 h-8" />
          </div>
        </div>
      </div>
    </div>

    <div
      class="absolute left-full top-full flex h-20 w-20 justify-center items-center bg-gradient-to-tl from-slate-100/80"
    >
      <div
        class="absolute -top-8 right-0 w-[1px] h-48 from-slate-100/30 via-slate-300/50 to-slate-100 bg-gradient-to-b"
      >
      </div>
      <div
        class="absolute -left-8 bottom-0 h-[1px] w-48 from-slate-50 via-slate-300/50 to-slate-50 bg-gradient-to-r"
      >
      </div>
      <NodeJS className="w-16 h-16" />
      <div
        class="absolute w-16 h-16 left-full top-full flex items-center justify-center bg-gradient-to-br from-slate-100/60"
      >
        <div
          class="absolute -top-5 right-0 w-[1px] h-44 from-slate-100/30 via-slate-300 to-slate-50 bg-gradient-to-b"
        >
        </div>
        <div
          class="absolute -left-5 bottom-0 h-[1px] w-44 from-slate-100 via-slate-300 to-slate-50 bg-gradient-to-r"
        >
        </div>
        <Express className="w-12 h-12" />
        <div
          class="absolute w-14 h-14 left-full top-full flex items-center justify-center bg-gradient-to-tl from-slate-100"
        >
          <div
            class="absolute -top-6 right-0 w-[1px] h-40 from-slate-100/30 via-slate-300 to-slate-50 bg-gradient-to-b"
          >
          </div>
          <div
            class="absolute -left-[4.5rem] bottom-0 h-[1px] w-72 from-slate-100/30 via-slate-200 to-slate-50 bg-gradient-to-r"
          >
          </div>
          <NestJS className="w-9 h-9" />
          <div
            class="absolute w-24 h-24 left-full top-full flex items-center justify-center bg-gradient-to-br from-slate-100 via-white"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
