---
// here should be imported Wall-E image
---

<div class="h-screen relative flex items-center justify-center -mr-[32rem]">
  {/* Third level ------------------------------------------------------ */}
  <div
    class="absolute flex h-[37rem] w-[37rem] animate-spin-115 items-center justify-center border-dashed rounded-full border-l-2 border-b-2 border-t-2 border-purple-200/70"
  >
    <div class="absolute h-[26rem] w-[26rem] -rotate-[30deg]">
      <div
        class="absolute -bottom-4 -right-8 h-fit w-fit animate-spin-115-back"
      >
        <p
          class="relative font-expletus text-lg font-bold text-gray-500 rotate-[30deg]"
        >
          Backend
        </p>
      </div>
    </div>
    <div class="absolute h-[26rem] w-[26rem]">
      <div
        class="absolute -left-10 -bottom-4 h-fit w-fit animate-spin-115-back"
      >
        <p class="relative font-expletus text-lg font-bold text-gray-500">
          Frontend
        </p>
      </div>
    </div>
    <div class="absolute h-[26rem] w-[26rem] rotate-[25deg]">
      <div class="absolute -left-7 -top-7 h-fit w-fit animate-spin-115-back">
        <p
          class="relative font-expletus text-lg font-bold text-gray-500 -rotate-[25deg]"
        >
          Full-Stack
        </p>
      </div>
    </div>
  </div>

  {
    /* Second level circle ----------------------------------------------------------------> */
  }
  <div
    class="absolute flex h-[26rem] w-[26rem] animate-spin-85-back items-center border-dashed justify-center rounded-full border-b-2 border-t-2 border-purple-200/80"
  >
    <div class="absolute h-[18.5rem] w-[18.5rem] -rotate-[25deg]">
      <div class="absolute -top-4 -left-5 h-fit w-fit rotate-[25deg]">
        <p
          class="animate-spin-115-back relative animate-spin-85 font-expletus text-base font-bold text-gray-500"
        >
          Developer
        </p>
      </div>
      <div class="absolute -bottom-5 -right-7 h-fit w-fit rotate-[25deg]">
        <p
          class="animate-spin-115-back relative animate-spin-85 font-expletus text-base font-bold text-gray-500"
        >
          Engineer
        </p>
      </div>
    </div>
  </div>

  {
    /* First level circle ----------------------------------------------------------------> */
  }
  <div
    class="absolute flex h-[15rem] w-[15rem] animate-spin-75 items-center justify-center border-dashed rounded-full border-l border-r border-purple-200/80"
  >
    <div class="absolute h-[10.5rem] w-[10.5rem] rotate-45">
      <div class="absolute -top-3 -left-8 h-fit w-fit animate-spin-75-back">
        <p
          class="relative font-expletus -rotate-45 text-sm font-bold text-gray-500"
        >
          Architect
        </p>
      </div>
    </div>
    <div class="absolute h-[10.5rem] w-[10.5rem]">
      <div class="absolute -bottom-3 -left-6 h-fit w-fit animate-spin-75-back">
        <p
          class="relative font-expletus text-base font-extrabold text-gray-500"
        >
          UI/UX
        </p>
      </div>
    </div>
  </div>
  {/* ---------------------- W A L L - E ---------------------- */}
  <div class="absolute flex h-24 w-24 items-center justify-center">
    <div class="group relative">
      <div
        class="absolute -inset-1 rounded-full animate-tilt bg-gradient-to-br from-yellow-600 to-purple-600 opacity-75 blur transition duration-1000 group-hover:opacity-100 group-hover:duration-200"
      >
      </div>
      <div
        class="h-24 w-24 bg-cover bg-center relative rounded-full"
        style="background-image: url(https://images.unsplash.com/photo-1589254066007-898d52d910d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80)"
      >
      </div>
    </div>
  </div>
</div>
