---
import GitBranch from "@icons/GitBranch.astro";
import GitDraft from "@icons/GitDraft.astro";
import GitMerge from "@icons/GitMerge.astro";
import GitPullRequest from "@icons/GitPullRequest.astro";
---

<div class="flex items-center justify-center relative">
  <svg
    class="absolute animate-spin-115-back"
    width="415"
    height="415"
    viewBox="0 0 415 415"
    fill="none"
  >
    <circle
      cx="207.5"
      cy="207.5"
      r="207"
      stroke="#E9E9E9"
      stroke-dasharray="3 3"></circle>
  </svg>

  <svg width="521" height="521" viewBox="0 0 521 521" fill="none">
    <path
      d="M447.5 260C447.5 363.558 364.444 447.5 262 447.5C159.556 447.5 76.5001 363.558 76.5001 260C76.5001 156.442 159.556 72.5 262 72.5C364.444 72.5 447.5 156.442 447.5 260Z"
      stroke="#F4F4F4"
      stroke-opacity="0.8"></path>
    <circle cx="262" cy="261" r="132.5" stroke="#F4F4F4" stroke-opacity="0.8"
    ></circle>
    <circle
      cx="262.5"
      cy="260.5"
      r="117"
      fill="#EFEFEF"
      fill-opacity="0.2"
      stroke="#F4F4F4"></circle>
    <circle cx="262" cy="261" r="84.5" stroke="#ACACAC"></circle>
    <path
      d="M346.5 260.5C346.5 308.005 308.66 346.5 262 346.5C215.34 346.5 177.5 308.005 177.5 260.5C177.5 212.995 215.34 174.5 262 174.5C308.66 174.5 346.5 212.995 346.5 260.5Z"
      fill="white"
      stroke="#E8E8E8"></path>
    <circle cx="262" cy="261" r="60.5" stroke="#F4F4F4" stroke-opacity="0.8"
    ></circle>
    <path
      d="M262.005 213.003C236.045 213.003 215 234.581 215 261.197C215 282.36 228.306 300.341 246.809 306.817L247.141 306.917C249.492 307.37 250.354 305.882 250.354 304.6C250.354 303.456 250.316 300.422 250.294 296.408C237.22 299.316 234.462 289.942 234.462 289.942C233.559 286.969 231.71 284.526 229.281 282.923L229.231 282.894C224.974 279.905 229.56 279.966 229.56 279.966C232.653 280.413 235.246 282.273 236.735 284.883L236.76 284.931C238.496 288.129 241.775 290.257 245.539 290.257C247.345 290.257 249.037 289.768 250.498 288.91L250.448 288.936C250.674 286.394 251.767 284.15 253.422 282.492L253.426 282.489C242.988 281.284 232.014 277.138 232.014 258.675C232.014 258.588 232.011 258.488 232.011 258.388C232.011 253.5 233.851 249.052 236.86 245.733L236.85 245.745C236.214 244.004 235.844 241.992 235.844 239.893C235.844 237.396 236.365 235.021 237.302 232.881L237.258 232.99C237.258 232.99 241.195 231.698 250.185 237.929C253.708 236.898 257.754 236.303 261.936 236.303C266.117 236.303 270.164 236.898 274 238.007L273.687 237.929C282.617 231.698 286.554 232.99 286.554 232.99C287.447 235.053 287.968 237.457 287.968 239.986C287.968 242.05 287.623 244.029 286.987 245.868L287.024 245.745C290.011 249.062 291.845 253.51 291.845 258.398C291.845 258.498 291.845 258.594 291.842 258.691V258.675C291.842 277.189 280.855 281.264 270.396 282.45C272.377 284.53 273.599 287.374 273.599 290.514C273.599 290.813 273.587 291.111 273.565 291.407L273.568 291.369C273.568 297.819 273.508 302.999 273.508 304.564C273.508 305.831 274.329 307.335 276.74 306.853C295.635 300.332 309 282.335 309 261.133C309 234.549 287.98 213 262.055 213C262.036 213 262.014 213 261.995 213H261.998L262.005 213.003Z"
      fill="#DFE5EC"></path>
    <line
      x1="448"
      y1="128.5"
      x2="76.0001"
      y2="128.5"
      stroke="url(#paint0_linear_0_1)"></line>
    <line
      x1="394.5"
      y1="451"
      x2="394.5"
      y2="79.0001"
      stroke="url(#paint1_linear_0_1)"></line>
    <line
      x1="129.5"
      y1="444"
      x2="129.5"
      y2="72.0001"
      stroke="url(#paint2_linear_0_1)"></line>
    <line
      x1="448"
      y1="393.5"
      x2="76.0001"
      y2="393.5"
      stroke="url(#paint3_linear_0_1)"></line>
    <line
      x1="379.5"
      y1="441"
      x2="379.5"
      y2="81"
      stroke="url(#paint4_linear_0_1)"></line>
    <line
      x1="145.5"
      y1="439"
      x2="145.5"
      y2="79"
      stroke="url(#paint5_linear_0_1)"></line>
    <line
      x1="441"
      y1="377.5"
      x2="81"
      y2="377.5"
      stroke="url(#paint6_linear_0_1)"></line>
    <line
      x1="441"
      y1="143.5"
      x2="81"
      y2="143.5"
      stroke="url(#paint7_linear_0_1)"></line>
    <line
      x1="322.5"
      y1="-3.15651e-08"
      x2="322.5"
      y2="520"
      stroke="url(#paint8_linear_0_1)"
      stroke-dasharray="3 3"></line>
    <line
      x1="201.5"
      y1="1"
      x2="201.5"
      y2="521"
      stroke="url(#paint9_linear_0_1)"
      stroke-dasharray="3 3"></line>
    <path
      d="M0 200.5H520"
      stroke="url(#paint10_linear_0_1)"
      stroke-dasharray="3 3"></path>
    <line
      x1="1"
      y1="321.5"
      x2="521"
      y2="321.5"
      stroke="url(#paint11_linear_0_1)"
      stroke-dasharray="3 3"></line>
    <line
      x1="49.6457"
      y1="474.647"
      x2="474.646"
      y2="47.6473"
      stroke="url(#paint12_linear_0_1)"></line>
    <line
      x1="48.353"
      y1="47.6458"
      x2="475.064"
      y2="472.725"
      stroke="url(#paint13_linear_0_1)"></line>
    <defs>
      <linearGradient
        id="paint0_linear_0_1"
        x1="79.0926"
        y1="120.985"
        x2="447.935"
        y2="120.216"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#EEEEEE" stop-opacity="0"></stop>
        <stop offset="0.508555" stop-color="#E9E9E9"></stop>
        <stop offset="1" stop-color="#EEEEEE" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_0_1"
        x1="402.015"
        y1="82.0926"
        x2="402.785"
        y2="450.935"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#EEEEEE" stop-opacity="0"></stop>
        <stop offset="0.508555" stop-color="#E9E9E9"></stop>
        <stop offset="1" stop-color="#EEEEEE" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint2_linear_0_1"
        x1="137.015"
        y1="75.0926"
        x2="137.785"
        y2="443.935"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#EEEEEE" stop-opacity="0"></stop>
        <stop offset="0.508555" stop-color="#E9E9E9"></stop>
        <stop offset="1" stop-color="#EEEEEE" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint3_linear_0_1"
        x1="79.0926"
        y1="385.985"
        x2="447.935"
        y2="385.216"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#EEEEEE" stop-opacity="0"></stop>
        <stop offset="0.508555" stop-color="#E9E9E9"></stop>
        <stop offset="1" stop-color="#EEEEEE" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint4_linear_0_1"
        x1="387.015"
        y1="83.9928"
        x2="387.736"
        y2="440.937"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#EEEEEE" stop-opacity="0"></stop>
        <stop offset="0.505208" stop-color="#E9E9E9"></stop>
        <stop offset="1" stop-color="#EEEEEE" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint5_linear_0_1"
        x1="153.015"
        y1="81.9928"
        x2="153.736"
        y2="438.937"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#E9E9E9" stop-opacity="0"></stop>
        <stop offset="0.508555" stop-color="#EEEEEE"></stop>
        <stop offset="1" stop-color="#EEEEEE" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint6_linear_0_1"
        x1="83.9928"
        y1="369.985"
        x2="440.937"
        y2="369.264"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#EEEEEE" stop-opacity="0"></stop>
        <stop offset="0.508555" stop-color="#E9E9E9"></stop>
        <stop offset="1" stop-color="#EEEEEE" stop-opacity="0.2"></stop>
        <stop offset="1" stop-color="#EEEEEE" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint7_linear_0_1"
        x1="83.9928"
        y1="135.985"
        x2="440.937"
        y2="135.264"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#EEEEEE" stop-opacity="0"></stop>
        <stop offset="0.508555" stop-color="#E9E9E9"></stop>
        <stop offset="1" stop-color="#EEEEEE" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint8_linear_0_1"
        x1="314.986"
        y1="515.677"
        x2="312.981"
        y2="0.0039604"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.106909" stop-color="#EBEBEB" stop-opacity="0.75"></stop>
        <stop offset="0.508555" stop-color="#EBEBEB"></stop>
        <stop offset="0.883163" stop-color="#EBEBEB" stop-opacity="0.75"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint9_linear_0_1"
        x1="193.986"
        y1="516.677"
        x2="191.981"
        y2="1.00396"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.106909" stop-color="#EBEBEB" stop-opacity="0.75"></stop>
        <stop offset="0.508555" stop-color="#EBEBEB"></stop>
        <stop offset="0.883163" stop-color="#EBEBEB" stop-opacity="0.75"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint10_linear_0_1"
        x1="515.677"
        y1="207.015"
        x2="0.00395622"
        y2="209.02"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.106909" stop-color="#EBEBEB" stop-opacity="0.75"></stop>
        <stop offset="0.508555" stop-color="#EBEBEB"></stop>
        <stop offset="0.883163" stop-color="#EBEBEB" stop-opacity="0.75"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint11_linear_0_1"
        x1="516.677"
        y1="329.014"
        x2="1.00396"
        y2="331.019"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.106909" stop-color="#EBEBEB" stop-opacity="0.75"></stop>
        <stop offset="0.508555" stop-color="#EBEBEB"></stop>
        <stop offset="0.883163" stop-color="#EBEBEB" stop-opacity="0.75"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint12_linear_0_1"
        x1="476.438"
        y1="56.498"
        x2="56.8843"
        y2="481.841"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0798828" stop-color="#E4E4E4" stop-opacity="0"></stop>
        <stop offset="0.18334" stop-color="#E2E8F0" stop-opacity="0.3"></stop>
        <stop offset="0.508555" stop-color="#E2E8F0" stop-opacity="0.7"></stop>
        <stop offset="0.806611" stop-color="#E2E8F0" stop-opacity="0.3"></stop>
        <stop offset="0.918019" stop-color="#E4E4E4" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint13_linear_0_1"
        x1="466.214"
        y1="474.515"
        x2="41.1569"
        y2="54.8804"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0777083" stop-color="#E4E4E4" stop-opacity="0"></stop>
        <stop offset="0.183593" stop-color="#E2E8F0" stop-opacity="0.3"></stop>
        <stop offset="0.508555" stop-color="#E2E8F0" stop-opacity="0.7"></stop>
        <stop offset="0.807452" stop-color="#E2E8F0" stop-opacity="0.3"></stop>
        <stop offset="0.910814" stop-color="#E4E4E4" stop-opacity="0"></stop>
      </linearGradient>
    </defs>
  </svg>

  <div class="absolute w-56 h-56 animate-spin-115">
    <div
      class="absolute w-7 h-7 -right-[14px] -top-[14px] animate-spin-115-back"
    >
      <GitDraft className="fill-red-200 z-10 absolute w-full h-full" />
    </div>
    <div class="absolute w-8 h-8 -left-4 -top-4 animate-spin-115-back">
      <GitMerge className="opacity-70 w-full h-full" />
    </div>
    <div class="absolute w-8 h-8 -right-4 -bottom-4 animate-spin-115-back">
      <GitBranch className="opacity-20 w-full h-full" />
    </div>
    <div
      class="absolute w-7 h-7 -left-[14px] -bottom-[14px] animate-spin-115-back"
    >
      <GitPullRequest className="fill-indigo-300/60 w-full h-full" />
    </div>
  </div>
</div>
