---
import JavaScript from "@icons/JavaScript.astro";
import Octopus from "@icons/Octopus.astro";
---

<div class="w-full z-10 relative flex items-center justify-center">
  <Octopus className="w-full h-full" />
  <div class="absolute">
    <div
      class="absolute -inset-1 rounded-md animate-tilt bg-gradient-to-br from-yellow-600 via-yellow-700 to-indigo-500 opacity-75 blur transition duration-1000 group-hover:opacity-100 group-hover:duration-200"
    >
    </div>
    <JavaScript className="w-28 h-28 rounded-md relative shadow-xl" />
  </div>
  <!-- Background TEXT -->
  <h1
    class="absolute bottom-20 text-7xl font-extrabold font-frederic text-indigo-50/80"
  >
    Ecosystem
  </h1>
  <!-- <div
    class="absolute bottom-0 mx-auto flex items-center justify-center gap-6"
  >
    <Postgres className="w-10 h-10 opacity-20" />
    <AWS className="w-14 h-14 opacity-20" />
    <Docker className="w-12 h-12 opacity-20" />
  </div> -->
</div>
