---
import JavaScript from "@icons/JavaScript.astro";
import Octopus from "@icons/Octopus.astro";
---

<div class="w-full z-10 relative sm:flex items-center justify-center mt-10 hidden">
  <Octopus className="w-full h-full" />
  <div class="absolute">
    <div
      class="absolute -inset-1 rounded-md animate-tilt bg-gradient-to-br from-green-300 to-green-700 opacity-75 blur transition duration-1000 group-hover:opacity-100 group-hover:duration-200"
    >
    </div>
    <JavaScript className="w-28 h-28 rounded-md relative shadow-xl" />
  </div>
</div>
