<div class="absolute top-0 left-8 z-10 flex h-20 w-full items-end">
  <div class="flex w-full items-center justify-end gap-8">
    <div
      class="flex gap-8 font-farro text-sm tracking-wider text-[#efece8] sm:gap-10 sm:text-xs"
    >
      <a class="hover:text-green-300" href="#skills">Skills</a>
      <a class="hover:text-green-300" href="#career">Career</a>
      <a class="hover:text-green-300" href="#contact">Contact</a>
    </div>
    <span class="h-1 w-full border-b border-dashed border-green-700"
    ></span>
  </div>
</div>
