<div
  class="absolute top-0 left-0 flex h-16 w-full items-end justify-end sm:h-20"
>
  <div class="flex w-full items-center justify-end gap-5 sm:gap-8">
    <div
      class="h-1 min-w-[60px] border-b border-green-300 border-dashed sm:w-full"
    >
    </div>
    <div
      class="flex gap-8 font-expletus tracking-wider text-[#efece8] sm:gap-12 text-sm"
    >
      <a class="hover:text-green-300" href="#skills">.skills</a>
      <a class="hover:text-green-300" href="#career">.career</a>
      <a class="hover:text-green-300" href="#contact">.contact</a>
    </div>
    <div class="h-1 w-full border-b border-green-700 border-dashed sm:w-48">
    </div>
  </div>
</div>
