---
import GitHub from "@icons/GitHub.astro";
import LinkedIn from "@icons/LinkedIn.astro";
import Twitter from "@icons/Twitter.astro";
---

<div
  class="fixed left-8 top-0 z-50 flex h-screen w-fit flex-col justify-end gap-5 sm:left-16 sm:justify-center sm:gap-8"
>
  <div class="h-full w-1 border-l border-green-300 border-dashed"></div>
  <div class="-ml-3 flex w-fit flex-col gap-5">
    <Twitter />
    <LinkedIn />
    <GitHub
      className="h-6 w-6 fill-green-400 hover:fill-green-500 cursor-pointer"
    />
  </div>
  <div class="h-1/5 w-1 border-l sm:h-1/2 border-green-300 border-dashed"></div>
</div>
